/* Common colors */
$white: #fff;

/* Typography */
$font-size-xlarge: 36px;
$font-size-large: 24px;
$font-size-medium: 18px;
$font-size-xsmedium: 16px;
$font-size-base: 15px;
$font-size-xsmall: 13px;
$font-size-xxsmall: 11px;
$font-family-main: 'InterText', sans-serif;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 600;
$font-weight-extra-bold: 800;

/* Brand colors */
$brand-dark-light: #12131c;
$brand-gray-medium: #f2f2f2;
$brand-primary: #9d50ff;
$brand-red: #ff508d;

/* Other colors */
$color-text: $brand-gray-medium;
