.trader-card {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 24px;
  border-radius: 24px;
  background-color: $brand-dark-light;
  gap: 16px;

  &-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    min-height: 48px;
  }

  &-account {
    position: relative;
  }

  &__link {
    position: absolute;
    inset: 0;
  }
}
