.btn {
  cursor: pointer;
  padding: 12px 0;
  border: none;
  text-align: center;
  font-size: $font-size-base;
  transition: 0.3s;

  &--active {
    color: $white;
  }

  &--small-padding {
    padding: 8px 0;
  }

  &--lg {
    height: 55px;
  }

  &--primary {
    border-radius: 11px;
    color: $white;
    background-color: $brand-primary;
  }

  &--primary-red {
    border-radius: 11px;
    color: $white;
    background-color: $brand-red;
  }

  &--secondary {
    border: 1px solid $brand-primary;
    border-radius: 30px;
    color: $brand-primary;
    font-weight: $font-weight-medium;

    &:hover {
      background-color: $brand-primary;
      color: $white;
    }
  }
  &--secondary-red {
    border: 1px solid $brand-red;
    border-radius: 30px;
    color: $brand-red;
    font-weight: $font-weight-medium;

    &:hover {
      background-color: $brand-red;
      color: $white;
    }
  }

  &--disabled {
    pointer-events: none;
    opacity: 0.3;
  }

  &--full-width {
    width: 100%;
  }

  &--nowrap {
    white-space: nowrap;
  }

  &-status {
    padding: 8px 10px;
    border-radius: 11px;
    color: $white;
    font-weight: $font-weight-bold;
    font-size: $font-size-xsmall;
    background-color: #4d4d4d;

    &:hover {
      opacity: 0.9;
    }

    &--cancel {
      background-color: #e11059;
    }
    &--done {
      background-color: #19c549;
    }
  }
}
